.fencebox {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    width: 100%;
    background-color: #EFF6F0;
    
}

.logo-11 img {
    width: 100%;
    height: 70vh;

}
.logo-12 img {
    width: 100%;
    height: 70vh;
    padding: 1rem;

}
.fence {
    width: 20%;
    margin: 4rem;
}
.fence h1{
    color: #305534;
}
.fence p {
    color: #6A6063;
    margin-top: 1rem;
    font-size: 1.3rem;
}
